//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form

//- MIXIN :: END

mixin mainSection(classMod, imgName, labelName, titleName)
	main#main.main(class!= 'main--' + classMod)

		.main__bg
			img.main__bg-img(src="img/" + imgName alt="")

			.main__bg-social
				ul
					li
						p FOLLOW US
					li
						a(href="#")
							i.icon-font.icon-facebook
					li
						a(href="#")
							i.icon-font.icon-instagram
					li
						a(href="#")
							i.icon-font.icon-linkedin

		.c-grid
			.main__wrapper

				.main__block
					.main__block-badge
						p.c-label!= labelName
					h1.main__title.c-title!= titleName
