// SECTION :: START

.latest {
	padding-top: 60px;
	padding-bottom: 240px;
	@include adaptive(1023) {
		padding-bottom: 100px;
	}

	/*&.is-inview {
		.latest {
			&__label {
				opacity: 1;
				transform: translateY(0);
				transition-duration: 1.25s;
			}

			&__title {
				h2 {
					span {
						opacity: 1;
						transform: none;
						transition-duration: 1.25s;

						&:nth-of-type(1) {
							transition-delay: 0.5s;
						}
						&:nth-of-type(2) {
							transition-delay: 0.75s;
						}
					}
				}
			}

			&__desc {
				opacity: 1;
				transform: translateY(0);
				transition-duration: 1.25s;
				transition-delay: 0.25s;
			}
		}

		.procedures {
			&__bg {
				> img {
					opacity: 1;
					transform: none;
					transition-duration: 1.25s;
				}
			}

			&__box {
				&-label {
					opacity: 1;
					transform: translateY(0);
					transition-duration: 1.25s;
				}

				&-title {
					h2 {
						opacity: 1;
						transform: none;
						transition-duration: 1.25s;
						transition-delay: 0.5s;
					}
				}
				&-desc {
					opacity: 1;
					transform: translateY(0);
					transition-duration: 1.25s;
					transition-delay: 0.25s;
				}
				&-btn {
					opacity: 1;
					transform: translateY(0);
					transition-duration: 1.25s;
					transition-delay: 0.5s;
				}
			}
		}
	}*/

	&__label {
		justify-content: center;
		padding-bottom: 81px;
		color: #000000;
		text-align: center;
		@include adaptive(767) {
			padding-bottom: 40px;
		}
		//opacity: 0;
		//transform: translateY(75%);
		//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
	}

	&__title {
		//perspective: 600px;
		width: 100%;
		max-width: 1258px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 41px;
		text-align: center;

		h2 {
			span {
				display: block;
				//opacity: 0;
				//transform-origin: center top;
				//transform-style: preserve-3d;
				//transform: translateY(100%) rotateX(-80deg);
				//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
			}
		}
	}

	&__desc {
		width: 100%;
		max-width: 812px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 250px;
		text-align: center;
		@include adaptive(767) {
			padding-bottom: 100px;
		}
		//opacity: 0;
		//transform: translateY(75%);
		//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
	}
}

// SECTION :: END
