@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.gallery__bg img, .stories__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 32px;
  height: 23px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -10px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before, .icon-facebook:before, .icon-instagram:before, .icon-linkedin:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 47, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before {
  content: "";
}

/* line 47, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 47, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 47, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.woff2") format("woff2"), url("../fonts/Muli.woff") format("woff"), url("../fonts/Muli.ttf") format("truetype"), url("../fonts/Muli.svg#Muli") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Bold.woff2") format("woff2"), url("../fonts/Muli-Bold.woff") format("woff"), url("../fonts/Muli-Bold.ttf") format("truetype"), url("../fonts/Muli-Bold.svg#Muli") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-SemiBold.woff2") format("woff2"), url("../fonts/Muli-SemiBold.woff") format("woff"), url("../fonts/Muli-SemiBold.ttf") format("truetype"), url("../fonts/Muli-SemiBold.svg#Muli") format("svg");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Light.woff2") format("woff2"), url("../fonts/Muli-Light.woff") format("woff"), url("../fonts/Muli-Light.ttf") format("truetype"), url("../fonts/Muli-Light.svg#Muli") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-ExtraLight.woff2") format("woff2"), url("../fonts/Muli-ExtraLight.woff") format("woff"), url("../fonts/Muli-ExtraLight.ttf") format("truetype"), url("../fonts/Muli-ExtraLight.svg#Muli") format("svg");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot.woff2") format("woff2"), url("../fonts/Didot.woff") format("woff"), url("../fonts/Didot.ttf") format("truetype"), url("../fonts/Didot.svg#Didot") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1670px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 11, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_label.scss */
.c-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 38px;
  text-transform: uppercase;
  color: #c69c47;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-family: 'Didot', sans-serif;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

/* line 10, src/scss/_macros/_title.scss */
.c-title.c-title--white {
  color: #ffffff;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 260px;
  height: 69px;
  border: 1px solid #c09d55;
  background-color: transparent;
}

/* line 16, src/scss/_macros/_btn.scss */
.c-btn:before, .c-btn:after {
  content: '';
  position: absolute;
  left: 22px;
  right: 22px;
  width: -webkit-calc(100% - 44px);
  width: calc(100% - 44px);
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c09d55;
}

/* line 29, src/scss/_macros/_btn.scss */
.c-btn:before {
  top: -6px;
}

/* line 33, src/scss/_macros/_btn.scss */
.c-btn:after {
  bottom: -6px;
}

/* line 37, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 41, src/scss/_macros/_btn.scss */
.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 47, src/scss/_macros/_btn.scss */
.c-btn.c-btn--textDark span {
  color: #000000;
}

/* line 52, src/scss/_macros/_btn.scss */
.c-btn span {
  position: relative;
  top: -1px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 10, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 164px;
  padding-left: 140px;
  padding-right: 140px;
}

/* line 18, src/scss/_components/common/_header.scss */
.header__wrapper-left, .header__wrapper-right {
  width: 100%;
  max-width: 350px;
}

/* line 24, src/scss/_components/common/_header.scss */
.header__wrapper-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 30, src/scss/_components/common/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 37, src/scss/_components/common/_header.scss */
.header__contact {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 38px;
  color: #000;
}

/* line 45, src/scss/_components/common/_header.scss */
.header__request {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 45px;
}

/* line 50, src/scss/_components/common/_header.scss */
.header__request span {
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #000;
}

/* line 56, src/scss/_components/common/_header.scss */
.header__request span + .icon-font {
  margin-left: 10px;
}

/* line 61, src/scss/_components/common/_header.scss */
.header__request .icon-font {
  font-size: 12px;
  color: #c69c47;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  padding-top: 77px;
  padding-bottom: 86px;
}

/* line 7, src/scss/_components/common/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 12, src/scss/_components/common/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 19, src/scss/_components/common/_footer.scss */
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 33px;
}

/* line 23, src/scss/_components/common/_footer.scss */
.footer__social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 27, src/scss/_components/common/_footer.scss */
.footer__social ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 30, src/scss/_components/common/_footer.scss */
.footer__social ul li:nth-of-type(2) {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 36, src/scss/_components/common/_footer.scss */
.footer__social ul a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 39, src/scss/_components/common/_footer.scss */
.footer__social ul a .icon-font {
  color: #000000;
  font-size: 22px;
}

/* line 47, src/scss/_components/common/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 65px;
}

/* line 51, src/scss/_components/common/_footer.scss */
.footer__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 55, src/scss/_components/common/_footer.scss */
.footer__nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 58, src/scss/_components/common/_footer.scss */
.footer__nav ul li:not(:first-of-type) {
  padding-left: 60px;
}

/* line 63, src/scss/_components/common/_footer.scss */
.footer__nav ul a {
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  color: #000;
}

/* line 76, src/scss/_components/common/_footer.scss */
.footer__copyrights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 81, src/scss/_components/common/_footer.scss */
.footer__copyrights p {
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  text-align: right;
  color: #000;
}

/* line 88, src/scss/_components/common/_footer.scss */
.footer__copyrights p a {
  outline: none;
  font-size: 16px;
  line-height: 38px;
  color: #000000;
}

/* line 95, src/scss/_components/common/_footer.scss */
.footer__copyrights p strong {
  font-weight: 700;
}

/* line 3, src/scss/_components/common/_gallery.scss */
.gallery {
  position: relative;
}

/* line 6, src/scss/_components/common/_gallery.scss */
.gallery__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 14, src/scss/_components/common/_gallery.scss */
.gallery__bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #757374), color-stop(75%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, #757374 40%, rgba(0, 0, 0, 0) 75%);
  background: -o-linear-gradient(left, #757374 40%, rgba(0, 0, 0, 0) 75%);
  background: linear-gradient(to right, #757374 40%, rgba(0, 0, 0, 0) 75%);
}

/* line 24, src/scss/_components/common/_gallery.scss */
.gallery__bg img {
  left: auto;
  right: 0;
  width: 70%;
}

/* line 32, src/scss/_components/common/_gallery.scss */
.gallery__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 203px;
  padding-bottom: 195px;
}

/* line 38, src/scss/_components/common/_gallery.scss */
.gallery__wrapper > div {
  width: 100%;
  max-width: 730px;
}

/* line 44, src/scss/_components/common/_gallery.scss */
.gallery__desc {
  width: 100%;
  max-width: 674px;
  padding-bottom: 47px;
  font-size: 18px;
  line-height: 38px;
  color: #fff;
}

/* line 3, src/scss/_components/common/_stories.scss */
.stories {
  position: relative;
  padding-top: 265px;
  padding-bottom: 310px;
}

/* line 8, src/scss/_components/common/_stories.scss */
.stories__bg {
  z-index: 0;
  position: absolute;
  top: 134px;
  right: 0;
  width: 50%;
  height: -webkit-calc(100% - (134px + 143px));
  height: calc(100% - (134px + 143px));
}

/* line 16, src/scss/_components/common/_stories.scss */
.stories__bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 676px;
  height: 100%;
  background-image: url("../img/img-bg-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 30, src/scss/_components/common/_stories.scss */
.stories__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 36, src/scss/_components/common/_stories.scss */
.stories__wrapper-left, .stories__wrapper-right {
  width: 100%;
  max-width: 50%;
}

/* line 42, src/scss/_components/common/_stories.scss */
.stories__wrapper-right {
  padding-left: 155px;
}

/* line 47, src/scss/_components/common/_stories.scss */
.stories__content {
  width: 100%;
  max-width: 819px;
}

/* line 52, src/scss/_components/common/_stories.scss */
.stories__title {
  padding-bottom: 20px;
}

/* line 56, src/scss/_components/common/_stories.scss */
.stories__desc {
  padding-bottom: 58px;
}

/* line 60, src/scss/_components/common/_stories.scss */
.stories__img {
  position: relative;
  width: 100%;
  max-width: 597px;
  height: 648px;
}

/* line 66, src/scss/_components/common/_stories.scss */
.stories__img:before {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-38px, 38px);
      -ms-transform: translate(-38px, 38px);
          transform: translate(-38px, 38px);
  width: 100%;
  height: 100%;
  border: 10px solid #c09d55;
}

/* line 78, src/scss/_components/common/_stories.scss */
.stories__img img {
  z-index: 2;
  -webkit-filter: drop-shadow(15px 15px 25px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(15px 15px 25px rgba(0, 0, 0, 0.16));
}

/* line 3, src/scss/_components/common/_request.scss */
.request {
  position: relative;
  padding-top: 57px;
  padding-bottom: 57px;
}

/* line 8, src/scss/_components/common/_request.scss */
.request__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 66px;
  width: -webkit-calc(100% - 132px);
  width: calc(100% - 132px);
  height: 100%;
  background-color: transparent;
  border: 10px solid #c09d55;
}

/* line 19, src/scss/_components/common/_request.scss */
.request__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 235px;
  padding-bottom: 235px;
  background-color: #e5e5e5;
  background-image: url("../img/img-request-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 31, src/scss/_components/common/_request.scss */
.request__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1206px;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #c09d55;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.15);
}

/* line 46, src/scss/_components/common/_request.scss */
.request__title {
  font-family: 'Didot', sans-serif;
  font-size: 80px;
  line-height: 1;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

/* line 55, src/scss/_components/common/_request.scss */
.request__desc {
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #000;
}

/*# sourceMappingURL=maps/app.css.map */
