// SECTION :: START

section#meet.meet(data-scroll)
  .c-grid
    .meet__wrapper.meet__wrapper-1

      p.meet__label.c-label!= "<span>HOME / ABOUT /</span> MEET DR ZHURASKY"
      h2.meet__title The greatest compliment was that despite many other choices, those who worked with Dr. Z in the OR and Office trusted him with their own care, as well as that of their family members.

  .meet__wrapper.meet__wrapper-2

    .meet__describe-wrapper
      .meet__describe.meet__describe-1
        .meet__describe-row
          .meet__describe-col.meet__describe-col-1
            p.meet__describe-desc.c-desc Dr. Ruslan Zhuravsky previously worked in Long Island, where his surgical abilities, pleasant bedside manner, and strong concern for patient well-being allowed him to quickly develop a positive reputation based purely on patient referrals.
            p.meet__describe-desc.c-desc This made the choice to move to NJ extremely difficult, but Dr. Z is very excited to be back in his hometown, where he can continue to provide the same level of excellence and care!
            p.meet__describe-desc.c-desc His creativity, artistic abilities, and experiences as an Emergency Medical Technician in high school inspired him to obtain a Bachelor’s of Science from The Pennsylvania State University, being one of the few students accepted into their rigorous Pre-Medicine Program, and was followed by an Interdisciplinary Medical Sciences program at Drexel University. Dr. Z attended Medical School at Nova Southeastern University, an Osteopathic Medical School, focusing not only on individual medical conditions but also on how they affect patients as a whole.
          .meet__describe-col.meet__describe-col-2
            .meet__describe-media
              img(src="img/img-meet-1.png" alt="")

      .meet__describe.meet__describe-2
        .meet__describe-row
          .meet__describe-col.meet__describe-col-1
            .meet__describe-media
              img(src="img/img-meet-2.png" alt="")
          .meet__describe-col.meet__describe-col-2
            p.meet__describe-desc.c-desc During that time, he was elected to many leadership positions in a variety of student surgical organizations, founded a new organization for Otolaryngology and Plastic Surgery, and worked as an Anatomy Instructor for Physician Assistants, Nursing Students, Occupational Therapist, and Anesthesia Assistant students.
            p.meet__describe-desc.c-desc This made the choice to move to NJ extremely difficult, but Dr. Z is very excited to be back in his hometown, where he can continue to provide the same level of excellence and care!
            p.meet__describe-desc.c-desc Dr. Zhuravsky’s evaluations from his clinical rotations at Mt. Sinai Medical Center and Miami Children’s Hospital, as well as his excellent board scores and dedication earned him a very highly competitive Residency in Otolaryngology and Facial Plastic Surgery at UMDNJ-SOM / Rowan-SOM / Kennedy Hospital System. During his 5 years of training, Dr. Zhuravsky was privileged to learn from some of the finest plastic surgeons, focusing specifically on facial plastic surgery. Dr. Z went beyond the standard training as he obtained additional training and experience in New York City, and attended multiple conferences on Facial Plastic Surgery during his “spare time” and even “vacations”. He also received Head and Neck Surgery training at the world renowned Memorial Sloan Kettering Cancer Center in New York City.

      .meet__describe.meet__describe-3
        .meet__describe-row
          .meet__describe-col.meet__describe-col-1
            p.meet__describe-desc.c-desc However, the journey does not stop there. Dr. Z believes that education is a life long process and thus continues to educate himself on the latest techniques and research in order to be able to provide his patients with the best and most up to date care.
            p.meet__describe-desc.c-desc Dr. Zhuravsky’s main objective is to provide excellence in care for each and every patient. Locally, Dr. Z sees patients from Howell, Freehold, Marlboro, Manalapan, Holmdel, Colts Neck, Old Bridge, and Jackson. However, he also has patients from more distant parts on NJ, NY, Philadelphia, and Miami.
            p.meet__describe-desc.c-desc Dr. Z’s new location is conveniently located 5 minutes from the Freehold Mall, along Route 9 just on the border of Freehold and Howell.

          .meet__describe-col.meet__describe-col-2
            .meet__describe-media
              img(src="img/img-meet-3.png" alt="")

// SECTION :: END
