// SECTION :: START

main#main.main

  .main__bg
    img.main__bg-img(src="img/img-main-gallery.png" alt="")

    .main__bg-social
      ul
        li
          p FOLLOW US
        li
          a(href="#")
            i.icon-font.icon-facebook
        li
          a(href="#")
            i.icon-font.icon-instagram
        li
          a(href="#")
            i.icon-font.icon-linkedin

  .c-grid
    .main__wrapper

      .main__block
        .main__block-badge
          p.c-label BEFORE & AFTERS
        h1.main__title.c-title GALLERY


// SECTION :: END
