// SECTION :: START

section#results.results
  .c-grid
    .results__wrapper

      p.results__label.c-label!= "<span>HOME /</span> GALLERY"
      h2.results__title.c-title GREAT RESULTS
      p.results__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum sed nunc a ultrices. Mauris porttitor diam quis risus porta, vel viverra enim accumsan. Maecenas dignissim enim eget ante lobortis ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fermentum tempor mauris ut elementum. Sed at arcu in libero ullamcorper malesuada nec vel augue. Cras dapibus urna suscipit elit facilisis lacinia. Integer at ipsum varius, dictum sem nec, tempor arcu.

      .results__box-wrapper
        .results__box-row
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-1.png" alt="")
              p.results__box-title RHINOPLASTY
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-2.png" alt="")
              p.results__box-title FACELIFT
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-3.png" alt="")
              p.results__box-title BLEPHAROPLASTY

        .results__box-row
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-4.png" alt="")
              p.results__box-title Ear Lope Repair
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-5.png" alt="")
              p.results__box-title Lip filler
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-6.png" alt="")
              p.results__box-title Chin augmentation

        .results__box-row
          div
            a.results__box(href="#")
              .results__box-img
                img(src="img/img-results-7.png" alt="")
              p.results__box-title Liquid Rhinoplasty

// SECTION :: END
