// SECTION :: START

.form {
	padding-top: 60px;
	padding-bottom: 105px;

	/*&.animated {
		.form {
			&__label {
				opacity: 1;
				transform: translateY(0);
				transition-duration: 1.25s;
			}

			&__title {
				h2 {
					opacity: 1;
					transform: none;
					transition-duration: 1.25s;
					transition-delay: 0.5s;
				}
			}

			&__container {
				&-group {
					opacity: 1;
					transform: none;
					transition-duration: 1.25s;

					&:nth-of-type(1) {
						transition-delay: 0.5s;
					}
					&:nth-of-type(2) {
						transition-delay: 0.75s;
					}
					&:nth-of-type(3) {
						transition-delay: 1s;
					}
				}

				&-row {
					opacity: 1;
					transform: none;
					transition-duration: 1.25s;

					&-1 {
						transition-delay: 1.25s;
					}
					&-2 {
						transition-delay: 1.5s;
					}
				}
			}
		}
	}*/

	&__label {
		justify-content: center;
		padding-bottom: 40px;
		color: #000000;
		text-align: center;
		//opacity: 0;
		//transform: translateY(75%);
		//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
	}

	&__title {
		perspective: 600px;
		padding-bottom: 52px;
		text-align: center;

		h2 {
			//opacity: 0;
			//transform-origin: center top;
			//transform-style: preserve-3d;
			//transform: translateY(100%) rotateX(-80deg);
			//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1365px;
		margin-left: auto;
		margin-right: auto;

		&-group {
			display: flex;
			justify-content: space-between;
			@include adaptive(767) {
			  flex-wrap: wrap;
			}
			//opacity: 0;
			//transform: translateY(100%);
			//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);

			> div {
				width: 100%;
				max-width: calc((100% - 16px) / 2);
				@include adaptive(767) {
					max-width: 100%;
				}
			}
		}

		&-row {
			//opacity: 0;
			//transform: translateY(100%);
			//transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);
		}

		&-field {
			position: relative;
			margin-bottom: 25px;

			label {
				display: flex;
				width: 100%;
			}

			input,
			select,
			textarea {
				outline: none;
				position: relative;
				width: 100%;
				border-radius: 0;
				border: 2px solid #c09d55;
				box-shadow: none;
				background-color: #fff;
				font-weight: 600;
				//font-size: 21px;
				text-align: left;
				color: #000000;
				@include fluid(font-size, 320px, 1920px, 16px, 21px);
				@include inputPlaceholder {
					font-weight: 600;
					//font-size: 21px;
					text-align: left;
					color: #adadad;
					@include fluid(font-size, 320px, 1920px, 16px, 21px);
				}
			}

			input,
			select {
				height: 75px;
				padding: 0 30px;
				@include adaptive(767) {
					height: 65px;
					padding: 0 20px;
				}
			}

			select {
				appearance: none;
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
				background-size: 12px;
				background-position: calc(100% - 20px) center;
				background-repeat: no-repeat;
			}

			textarea {
				resize: none;
				height: 250px;
				padding: 30px;
				@include adaptive(767) {
					height: 225px;
					padding: 20px;
				}
			}

			.c-btn {
				width: 100%;

				&__wrapper {
					width: 100%;
					max-width: 536px;
					margin-left: auto;
					margin-right: auto;
					padding-top: 30px;
				}
			}
		}
	}
}

// SECTION :: END
