---
title: DrZhuravsky | About

pageClassName: p-about
---
extends shared/_layout

block content

  main

    +mainSection('about', 'img-main-about.png', 'ABOUT', 'OUR PRACTICE')

    include components/about/_about

    include components/common/_me
    include components/common/_stories
    include components/common/_video
    include components/common/_gallery
    include components/common/_request
