---
title: DrZhuravsky | Gallery

pageClassName: p-gallery
---
extends shared/_layout

block content
  main(data-scroll-container)
    div(data-scroll-section)

      +mainSection('gallery', 'img-main-gallery.png', 'BEFORE & AFTERS', 'Gallery')

      include components/gallery/_results

      include components/common/_request
      include components/common/_footer
