---
title: DrZhuravsky

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('main', 'img-main-main.png', '', '')

    include components/homepage/_practice

    include components/common/_me

    include components/homepage/_procedures

    include components/common/_gallery
    include components/common/_stories
    include components/common/_request
