---
title: DrZhuravsky | Meet The Doctor

pageClassName: p-meet
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('meet', 'img-main-meet.png', 'MEET THE DOCTOR', 'DR. RUSLAN ZHURAVSKY')

    include components/meet/_meet

    include components/common/_video
    include components/common/_gallery
    include components/common/_stories
    include components/common/_request
