---
title: DrZhuravsky | Procedures

pageClassName: p-procedures
---
extends shared/_layout

block content

  main

    +mainSection('procedures', 'img-main-procedures.png', 'FACIAL PLASTICS', 'Procedures')

    include components/procedures/_latest

    include components/common/_more
    include components/common/_gallery
    include components/common/_stories
    include components/common/_request
