---
title: DrZhuravsky | Procedures

pageClassName: p-procedures
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('procedures', 'img-main-procedures.png', 'FACIAL PLASTICS', 'Procedures')

    include components/common/_gallery
    include components/common/_stories
    include components/common/_request
