// SECTION :: START

section#gallery.gallery(data-scroll)

  .gallery__bg
    img(src="img/img-gallery.png" alt="")

  .c-grid
    .gallery__wrapper

      div

        p.gallery__label.c-label BEFORE & AFTERS
        h2.gallery__title.c-title.c-title--white Photo Gallery
        p.gallery__desc.c-desc.c-desc--white Feel free to look through Dr. Ruslan Zhuravsky’s gallery to view his work and artistry on facial procedures like Rhinoplasty, Face Lift, and more.
        .gallery__btn.c-btn__wrapper
          a.c-btn(href="#")
            span READ MORE

// SECTION :: END
