// HEADER :: START

header#header.header.wow

  .c-grid
    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.svg" alt="")

      .header__wrapper-middle

        a.header__contact(href="#") MIAMI, FL | 732.851.1231

      .header__wrapper-right

        a.header__request(href="#")
          span REQUEST CONSULTATION
          i.icon-font.icon-arrow

        +hamburger()

// HEADER :: END
