// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__overlay
  .menu__container

    .menu__wrapper
      .menu__wrapper-top
      .menu__wrapper-middle
        div

          nav.menu__btn-wrapper
            a.menu__btn(href="#" data-id='1')
              span Home
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='2')
              span About
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='3')
              span Procedures
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='4')
              span Gallery
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='5')
              span Contact
              i.icon-font.icon-corner

        div

          .menu__content-wrapper
            .menu__content(data-content-id='1')
            .menu__content(data-content-id='2')
            .menu__content(data-content-id='3')
            .menu__content(data-content-id='4')
            .menu__content(data-content-id='5')

      .menu__wrapper-bottom
        div

          a.header__contact(href="#") MIAMI, FL | 732.851.1231
          a.header__request(href="#")
            span REQUEST CONSULTATION
            i.icon-font.icon-arrow

        div
          .footer__social
            ul
              li
                a(href="#")
                  i.icon-font.icon-facebook
              li
                a(href="#")
                  i.icon-font.icon-instagram
              li
                a(href="#")
                  i.icon-font.icon-linkedin

// SECTION :: END
