// SECTION :: START

section#more.more
  .c-grid
    .more__header.more__header-1
      div
        p.more__label.c-label SPECIALTY PROCEDURES
        h2.more__title.c-title SURGICAL
      div
        .c-btn__wrapper
          a.c-btn.c-btn--textDark(href="#")
            span MORE PROCEDURES

  .more__wrapper.more__wrapper-1
    .more__slider
      .swiper-container.moreSlider1
        .swiper-wrapper
          .swiper-slide
            img(src="img/img-surgical-1.png" alt="")
          .swiper-slide
            img(src="img/img-surgical-2.png" alt="")
          .swiper-slide
            img(src="img/img-surgical-3.png" alt="")
          .swiper-slide
            img(src="img/img-surgical-4.png" alt="")

  .c-grid
    .more__header.more__header-2
      div
        p.more__label.c-label SPECIALTY PROCEDURES
        h2.more__title.c-title NON-SURGICAL
      div
        .c-btn__wrapper
          a.c-btn.c-btn--textDark(href="#")
            span MORE PROCEDURES

  .more__wrapper.more__wrapper-2
    .more__slider
      .swiper-container.moreSlider2
        .swiper-wrapper
          .swiper-slide
            img(src="img/img-non-surgical-1.png" alt="")
          .swiper-slide
            img(src="img/img-non-surgical-2.png" alt="")
          .swiper-slide
            img(src="img/img-non-surgical-3.png" alt="")
          .swiper-slide
            img(src="img/img-non-surgical-4.png" alt="")

// SECTION :: END
