// SECTION :: START

section#stories.stories(data-scroll data-scroll-offset='20%')

  .stories__bg
    .stories__bg-pattern

  .c-grid
    .stories__wrapper
      .stories__wrapper-left

        .stories__content
          p.stories__label.c-label Real Patients. Real Results.
          .stories__title
            h2.c-title PATIENT STORIES
          p.stories__desc.c-desc Dr. Z highlights one of his patient’s each month. These patients receive a professional photoshoot to showcase their incredible results. Take a look to see the aesthetic transformation possible at Z Facial Plastics.

          .gallery__btn.c-btn__wrapper
            a.c-btn.c-btn--textDark(href="#")
              span READ MORE

      .stories__wrapper-right

        .stories__img
          img(src="img/img-stories.png" alt="")

// SECTION :: END
