// SECTION :: START

section#stories.stories

  .stories__bg.wow.animate__animated.animate__fadeInUp
    .stories__bg-pattern

  .c-grid
    .stories__wrapper
      .stories__wrapper-left

        .stories__content
          p.stories__label.c-label.wow.animate__animated.animate__fadeInUp Real Patients. Real Results.
          .stories__title.wow.animate__animated.animate__fadeInUp
            h2.c-title PATIENT STORIES
          p.stories__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Z highlights one of his patient’s each month. These patients receive a professional photoshoot to showcase their incredible results. Take a look to see the aesthetic transformation possible at Z Facial Plastics.

          .gallery__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--textDark(href="#")
              span READ MORE

      .stories__wrapper-right

        .stories__img.wow.animate__animated.animate__fadeInUp
          img(src="img/img-stories.png" alt="")

// SECTION :: END
