// SECTION :: START

section#video.video
  .c-grid
    .video__wrapper

      p.video__label.c-label Interviews & TV Appearances
      h2.video__title.c-title VIDEOS

      .video__box-wrapper
        div
          a.video__box(href="#")
        div
          a.video__box(href="#")
        div
          a.video__box(href="#")

      .c-btn__wrapper.c-btn__wrapper--center
        a.c-btn.c-btn--textDark(href="#")
          span MORE VIDEOS

// SECTION :: END
