// STYLE :: START

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.0/swiper-bundle.min.css" integrity="sha512-hSeEAanQ2Sh6YpHdLthlagf8R8v081TtNJX4oCxNXxwIAGOHKdzOnl270Dxrn/WHZRdwowpumZEwS16WjIi2Hw==" crossorigin="anonymous" referrerpolicy="no-referrer")

if(env)
  link(rel="stylesheet" href="css/bundle.min.css")
else
  link(rel="stylesheet" href="css/vendor.css")
  link(rel="stylesheet" href="css/app.css")

// STYLE :: END
