// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  //min-width: 260px;
  //height: 69px;
  border: 1px solid #c09d55;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  @include fluid(min-width, 320px, 1920px, 200px, 260px);
  @include fluid(height, 320px, 1920px, 49px, 69px);
  @include transition(background-color);

  &:hover {
    //background-color: #c09d55;
    //@include transition(background-color);

    &:before,
    &:after {
      left: 0;
      right: 0;
      width: 100%;
      height: 50%;
      @include transition(top, bottom, left, right, width, height);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    span {
      color: #ffffff;
      @include transition(color);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 22px;
    right: 22px;
    width: calc(100% - 44px);
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c09d55;
    @include transition(top, bottom, left, right, width, height);
  }

  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
		@include adaptive(767) {
			justify-content: center;
		}

    &--center {
      justify-content: center;
    }
  }

  &.c-btn--textDark {

    &:hover {
      span {
        color: #ffffff;
      }
    }

    span {
      color: #000000;
    }
  }

  span {
    z-index: 2;
    position: relative;
    top: -1px;
    font-weight: bold;
    //font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    @include fluid(font-size, 320px, 1920px, 14px, 16px);
    @include transition(color);
  }
}

// BUTTON :: END
