// TITLE :: START

.c-title {
  font-family: 'Didot', sans-serif;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;

  &.c-title--white {
    color: #ffffff;
  }
}

// TITLE :: END
