// FOOTER :: START

.footer {
	padding-top: 77px;
	padding-bottom: 86px;
	@include adaptive(767) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptive(1023) {
		  flex-wrap: wrap;
		}

		&-left {
			@include adaptive(1023) {
				width: 100%;
				padding-bottom: 50px;
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@include adaptive(1023) {
				align-items: center;
				width: 100%;
			}
		}
	}

	&__social {
		display: flex;
		padding-bottom: 33px;
		@include adaptive(1023) {
			justify-content: center;
			padding-bottom: 30px;
		}

		ul {
			display: flex;
			align-items: center;

			li {
				display: flex;

				&:nth-of-type(2) {
					margin-left: 30px;
					margin-right: 30px;
				}
			}
			
			a {
				display: flex;

				&:hover {
					.icon-font {
						color: #c09d55;
						@include transition(color);
					}
				}

				.icon-font {
					color: #000000;
					font-size: 22px;
					@include transition(color);
				}
			}
		}
	}

	&__nav {
		display: flex;
		padding-bottom: 65px;
		@include adaptive(767) {
			padding-bottom: 40px;
		}

		ul {
			display: flex;
			align-items: center;
			@include adaptive(767) {
			  flex-direction: column;
			}

			li {
				display: flex;

				&:not(:first-of-type) {
					padding-left: 60px;
					@include adaptive(767) {
						padding-left: 0;
					}
				}
			}

			a {
				outline: none;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: bold;
				font-size: 16px;
				color: #000;
				@include transition(color);
				@include adaptive(767) {
					min-height: 40px;
				}

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					width: 0;
					height: 2px;
					background-color: #c09d55;
					@include transition(width);
				}

				&:before {
					left: 50%;
				}
				&:after {
					right: 50%;
				}

				&:hover {
					color: #c09d55;
					@include transition(color);

					&:before,
					&:after {
						width: 50%;
						@include transition(width);
					}
				}
			}
		}
	}

	&__copyrights {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		@include adaptive(1023) {
			align-items: center;
		}

		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 38px;
			text-align: right;
			color: #000;
			@include adaptive(1023) {
				text-align: center;
			}
			@include adaptive(767) {
				font-size: 14px;
				line-height: 30px;
			}

			a {
				outline: none;
				font-size: 16px;
				line-height: 38px;
				color: #000000;
				@include transition(color);
				@include adaptive(767) {
					font-size: 14px;
					line-height: 30px;
				}

				&:hover {
					color: #c09d55;
					@include transition(color);
				}
			}

			strong {
				font-weight: 700;
			}
		}
	}
}

// FOOTER :: END
