// HEADER :: START

.header {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid transparent;
	box-shadow: 0 2px 10px 0 rgba(#000, 0);
	background-color: #ffffff;
	@include transition(border-color, box-shadow);
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 0s cubic-bezier(.215,.61,.355,1), transform 0s cubic-bezier(.215,.61,.355,1);

	&.is-animate {
		opacity: 1;
		transform: none;
		transition-duration: 1s;
	}

	&.is-show {
		opacity: 1;
		transform: none;
	}

	&.unpinned {
		opacity: 1;
		transform: unset;
		border-bottom: 1px solid transparent;
		box-shadow: 0 2px 10px 0 rgba(#000, 0);
		@include transition(border-color, box-shadow);
		transition-duration: 0.3s;
	}

	&.pinned {
		transform: unset;
		border-color: rgba(#000, 0.05);
		box-shadow: 0 2px 12px 0 rgba(#000, 0.05);
		@include transition(border-color, box-shadow);
		transition-duration: 0.3s;

		.header {
			&__wrapper {
				height: 114px;
				@include transition(height);
			}
		}
	}

	.is-hideScroll & {
		background-color: transparent;
		@include transition(background-color);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 164px;
		@include transition(height);
		@include adaptive(1535) {
			height: 134px;
		}
		@include adaptive(1365) {
			height: 114px;
		}
		@include adaptive(767) {
			height: 74px;
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 350px;
		}

		&-middle {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	&__contact {
		text-align: center;
		font-weight: 800;
		//font-size: 18px;
		//line-height: 38px;
		color: #000;
		transform: translateX(0);
		@include transition(opacity, visibility, transform);
		@include fluid(font-size, 320px, 1920px, 14px, 18px);
		@include adaptive(1023) {
			display: none;
		}

		.is-hideScroll & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			@include transition(opacity, visibility, transform);
		}
	}

	&__request {
		display: flex;
		align-items: center;
		margin-right: 45px;
		transform: translateX(0);
		@include transition(opacity, visibility, transform);
		@include adaptive(1023) {
			display: none;
		}

		&:hover {
			span {
				color: #c69c47;
				@include transition(color);

				&:after,
				&:before {
					width: 50%;
					@include transition(width);
				}
			}

			.icon-font {
				transform: translateX(5px);
				@include transition(transform);
			}
		}

		.is-hideScroll & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			@include transition(opacity, visibility, transform);
		}

		span {
			position: relative;
			font-weight: 600;
			//font-size: 18px;
			color: #000;
			@include transition(color);
			@include fluid(font-size, 320px, 1920px, 14px, 18px);

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				background-color: #c69c47;
				@include transition(width);
			}

			&:after {
				left: 50%;
			}
			&:before {
				right: 50%;
			}

			& + .icon-font {
				margin-left: 10px;
			}
		}

		.icon-font {
			//font-size: 12px;
			color: #c69c47;
			@include transition(transform);
			@include fluid(font-size, 320px, 1920px, 10px, 12px);
		}
	}
}

// HEADER :: END
