// SECTION :: START

.main {
	position: relative;
	margin-top: 164px;
	@include adaptive(1535) {
		margin-top: 134px;
	}
	@include adaptive(1365) {
		margin-top: 114px;
	}
	@include adaptive(767) {
		margin-top: 74px;
	}

	&.main--main {
		.main {
			&__bg {
				&:after {
					right: auto;
					left: 0;
					max-width: (674px + 89px);
					border-right: 10px solid #c69c47;
					transform: translate(47px, 89px);
				}
			}

			&__block {
				display: none;
			}
		}
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 140px;
		width: calc(100% - 140px);
		height: 100%;
		@include adaptive(767) {
			left: 50px;
			width: calc(100% - 50px);
		}

		&:after {
			content: '';
			z-index: -1;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			max-width: (674px - 89px);
			height: 782px;
			border-left: 10px solid #c69c47;
			border-bottom: 10px solid #c69c47;
			transform: translate(0, 89px);
			@include adaptive(1439) {
				max-width: (474px - 89px);
			}
			@include adaptive(1023) {
				max-width: (324px - 89px);
			}
			@include adaptive(767) {
				max-width: 50%;
				height: 50%;
				border-width: 5px;
				transform: translate(0, 40px);
			}
		}

		&-img {
			z-index: 1;
			@extend %imageResCoverAbs;
		}

		&-social {
			z-index: 10;
			position: absolute;
			left: -140px;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			width: 140px;
			height: 100%;
			padding-bottom: 205px;
			@include adaptive(767) {
				left: -50px;
				width: 50px;
				padding-bottom: 50px;
			}

			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				@include adaptive(767) {
					width: 50px;
				}

				li {
					&:not(:last-of-type) {
						padding-bottom: 30px;
					}
				}

				p {
					white-space: nowrap;
					transform: translateY(-50px) rotate(-90deg);
					font-weight: 900;
					//font-size: 16px;
					letter-spacing: 0.2em;
					//line-height: 38px;
					color: #000;
					@include fluid(font-size, 320px, 1920px, 14px, 16px);
				}

				a {
					display: flex;

					&:hover {
						.icon-font {
							color: #000000;
							@include transition(color);
						}
					}

					.icon-font {
						//font-size: 25px;
						color: #c69c47;
						@include fluid(font-size, 320px, 1920px, 18px, 25px);
						@include transition(color);
					}
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		left: 140px;
		width: calc(100% - 140px);
		height: calc(100vh - 164px);
		max-height: calc(100vh - 164px);
		@include adaptive(1535) {
			height: calc(100vh - 134px);
			max-height: calc(100vh - 134px);
		}
		@include adaptive(1365) {
			height: calc(100vh - 114px);
			max-height: calc(100vh - 114px);
		}
		@include adaptive(767) {
			left: 50px;
			width: calc(100% - 50px);
			height: calc(100vh - 74px);
			max-height: calc(100vh - 74px);
		}
	}

	&__block {
		position: relative;
		top: 60%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1502px;
		//min-height: 197px;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid #c09d55;
		backdrop-filter: blur(30px);
		background-color: rgba(255, 255, 255, 0.15);
		@include adaptive(767) {
		  flex-direction: column;
		}

		&-badge {
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 397px;
			height: 39px;
			margin-left: auto;
			margin-right: auto;
			background-color: #c69c47;
			@include adaptive(767) {
				left: 10px;
				right: 10px;
				width: auto;
				max-width: unset;
				height: auto;
				padding: 7px 10px;
			}

			p {
				text-align: center;
				color: #fff;
				@include adaptive(767) {
					padding-bottom: 0;
				}
			}
		}
	}

	&__title {
		//padding-top: 55px;
		//padding-bottom: 40px;
		text-align: center;
		@include fluid(padding-top, 320px, 1920px, 35px, 55px);
		@include fluid(padding-bottom, 320px, 1920px, 20px, 40px);
		@include fluid(font-size, 320px, 1920px, 40px, 100px);
	}
}

// SECTION :: END
