// SECTION :: START

.procedures {
	padding-top: 100px;
	padding-bottom: 300px;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 125px);
		@include adaptive(1279) {
			height: 100%;
		}

		> img {
			@extend %imageResCoverAbs;
		}
	}

	&__label,
	&__title {
		justify-content: center;
		text-align: center;
	}

	&__title {
		padding-bottom: 230px;
	}

	&__wrapper {
		position: relative;
	}

	&__box {
		&-wrapper {
			z-index: 2;
			position: relative;
			display: flex;
			flex-direction: column;
			@include adaptive(1023) {
			  flex-wrap: wrap;
				padding-bottom: 50px;
			}
		}

		&-row {
			display: flex;
			@include adaptive(1279) {
			  &-1 {
					padding-bottom: 100px;
				}

				&-2 {
					padding-bottom: 30px;
				}
			}
			@include adaptive(1023) {
				flex-wrap: wrap;
			}

			&-1 {
				.procedures__box-col {
					&-1 {
						display: flex;

						.procedures__box-media {
							transform: translateY(-120px);
							@include adaptive(767) {
								transform: translateY(-20px);
								margin-bottom: 80px;
							}

							&:after {
								transform: translate(50px, 50px);
								@include adaptive(1023) {
									transform: translate(30px, 30px);
								}
								@include adaptive(767) {
									transform: translate(15px, 15px);
								}
							}
						}
					}
					&-2 {
						padding-top: 158px;
						padding-left: 158px;
						@include adaptive(1023) {
							padding-top: 0;
							padding-left: 0;
						}

						.procedures__box-title {
							transform: translateX(-50%);
							@include adaptive(1279) {
								transform: translateX(-80%);
							}
							@include adaptive(1023) {
							  transform: none;
							}
						}
					}
				}
			}
			&-2 {
				@include adaptive(1023) {
					padding-top: 100px;
				  flex-direction: column-reverse;
				}

				.procedures__box-col {
					&-1 {
						padding-top: 158px;
						padding-right: 158px;
						@include adaptive(1023) {
							padding-top: 100px;
							padding-right: 0;
						}
					}
					&-2 {
						display: flex;

						.procedures__box-media {
							&:after {
								transform: translate(-50px, 50px);
								@include adaptive(1023) {
									transform: translate(-30px, 30px);
								}
								@include adaptive(767) {
									transform: translate(-15px, 15px);
								}
							}
						}
					}
				}
			}
		}

		&-col {
			width: 50%;
			@include adaptive(1023) {
				width: 100%;
			}
		}

		&-media {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 10px solid #c09d55;
				@include adaptive(767) {
				  border-width: 5px;
				}
			}

			img {
				z-index: 2;
				position: relative;
				display: block;
				max-width: 100%;
				height: auto;
				border: 5px solid #fff;
				filter: drop-shadow(15px 15px 25px rgba(0, 0, 0, 0.16));
			}
		}

		&-title {
			//font-size: 130px;
			@include fluid(font-size, 320px, 1920px, 37px, 130px);
		}

		&-desc {
			padding-bottom: 45px;
		}

		&-btn {
			.c-btn {
				background-color: #ffffff;
			}
		}
	}
}

// SECTION :: END
