// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper

      p.about__label.c-label.wow.animate__animated.animate__fadeInUp!= "<span>HOME /</span> About"
      h2.about__title.c-title
        span.wow.animate__animated.animate__fadeInUp The Latest Advancements
        span.wow.animate__animated.animate__fadeInUp in FACIAL PLASTICS
      p.about__desc.c-desc.wow.animate__animated.animate__fadeInUp Our office is conveniently located less than 15 minutes from Miami International Airport, conveniently located for First City, Second City, Third City, and Forth City plastic surgery patients. People visiting the office are greeted by our friendly staff who are committed to making your visit and your surgical visit as comfortable and rewarding as possible.

      .about__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          .about__box
            img(src="img/img-about-1.png" alt="")
        div.wow.animate__animated.animate__fadeInUp
          .about__box
            img(src="img/img-about-2.png" alt="")
        div.wow.animate__animated.animate__fadeInUp
          .about__box
            img(src="img/img-about-3.png" alt="")

// SECTION :: END
