// SECTION :: START

section#stories.stories.stories--practice(data-scroll)

  .stories__bg
    .stories__bg-pattern

  .c-grid
    .stories__wrapper
      .stories__wrapper-left

        .stories__content
          p.stories__label.c-label ABOUT US
          h2.stories__title.c-title OUR PRACTICE
          p.stories__desc.c-desc Dr. Ruslan Zhuravsky, or as he is commonly called by his patients, Dr. Z, possess a strong passion for Facial Plastic and Cosmetic Surgery. He is highly trained and skilled in the art and science of cosmetic surgery with innate talents that allow him to excel in the field.
          .gallery__btn.c-btn__wrapper
            a.c-btn.c-btn--textDark(href="#")
              span LEARN MORE

      .stories__wrapper-right

        .stories__img
          img(src="img/img-practice.png" alt="")

// SECTION :: END
