// SECTION :: START

section#stories.stories.stories--practice

  .stories__bg.wow.animate__animated.animate__fadeInUp
    .stories__bg-pattern

  .c-grid
    .stories__wrapper
      .stories__wrapper-left

        .stories__content
          p.stories__label.c-label.wow.animate__animated.animate__fadeInUp ABOUT US
          h2.stories__title.c-title.wow.animate__animated.animate__fadeInUp OUR PRACTICE
          p.stories__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Ruslan Zhuravsky, or as he is commonly called by his patients, Dr. Z, possess a strong passion for Facial Plastic and Cosmetic Surgery. He is highly trained and skilled in the art and science of cosmetic surgery with innate talents that allow him to excel in the field.
          .gallery__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--textDark(href="#")
              span LEARN MORE

      .stories__wrapper-right

        .stories__img.wow.animate__animated.animate__fadeInUp
          img(src="img/img-practice.png" alt="")

// SECTION :: END
