// SECTION :: START

section#procedures.procedures
  .c-grid
    .procedures__wrapper.procedures__wrapper-1

      p.procedures__label.c-label FEATURED
      h2.procedures__title.c-title PROCEDURES

  .procedures__wrapper.procedures__wrapper-2

    .procedures__bg
      img(src="img/img-bg-pattern.png" alt="")

    .c-grid
      .procedures__box-wrapper

        .procedures__box-row.procedures__box-row-1
          .procedures__box-col.procedures__box-col-1
            .procedures__box-media
              img(src="img/img-procedures-1.png" alt="")
          .procedures__box-col.procedures__box-col-2

            p.procedures__box-label.c-label SURGICAL
            h2.procedures__box-title.c-title RHINOPLASTY
            p.procedures__box-desc.c-desc Dr. Z is a board-certified facial plastic surgeon specializing in rhinoplasty. Widely considered by his patients as the best New Jersey Rhinoplasty surgeon, Dr. Z takes great pride in achieving his patients’ aesthetic and functional goals.
            .procedures__box-btn.c-btn__wrapper
              a.c-btn.c-btn--textDark(href="#")
                span LEARN MORE

        .procedures__box-row.procedures__box-row-2
          .procedures__box-col.procedures__box-col-1

            p.procedures__box-label.c-label SURGICAL
            h2.procedures__box-title.c-title FACELIFT
            p.procedures__box-desc.c-desc The facelift is one of the most common procedures that people think of when they hear plastic surgery. This very popular procedure has been around for a long time but throughout the years has had a few of its own facelifts, and even evolved into a variety of spin-off procedures.
            .procedures__box-btn.c-btn__wrapper
              a.c-btn.c-btn--textDark(href="#")
                span LEARN MORE

          .procedures__box-col.procedures__box-col-2
            .procedures__box-media
              img(src="img/img-procedures-2.png" alt="")

// SECTION :: END
