// SECTION :: START

section#procedures.procedures(data-scroll)
  .c-grid
    .procedures__wrapper.procedures__wrapper-1

      p.procedures__label.c-label FEATURED
      h2.procedures__title.c-title PROCEDURES

  include ../common/_procedures

// SECTION :: END
