// SECTION :: START

section#procedures.procedures(data-scroll)
  .c-grid
    .procedures__wrapper.procedures__wrapper-1

      p.procedures__label.c-label.wow.animate__animated.animate__fadeInUp FEATURED
      h2.procedures__title.c-title.wow.animate__animated.animate__fadeInUp PROCEDURES

  include ../common/_procedures

// SECTION :: END
