// SECTION :: START

section#address.address

  .address__bg
    img.wow.animate__animated.animate__fadeInUp(src="img/img-contact-address.png" alt="" data-wow-duration="2s")

  .c-grid-fluid
    .address__box-wrapper
      .address__box.wow.animate__animated.animate__fadeInUp
        div

          h2.address__box-title Miami Office
          p.address__box-desc 788 Brickell Plaza
          p.address__box-desc Miami, FL 33131

        div

          .address__btn.c-btn__wrapper
            a.c-btn.c-btn--textDark(href="#")
              span GET DIRECTIONS

// SECTION :: END
