// SECTION :: START

section#form.form(data-scroll data-scroll-offset='20%')
  .c-grid
    .form__wrapper

      p.form__label.c-label!= "<span>HOME /</span> CONTACT"
      .form__title
        h2.c-title GREAT RESULTS

      form.form__container(action='' method='' autocomplete='off')
        .form__container-group
          div
            .form__container-field
              label
                input(type='text' placeholder='Full Name*' name='')
          div
            .form__container-field
              label
                input(type='tel' placeholder='Phone*' name='')

        .form__container-group
          div
            .form__container-field
              label
                input(type='email' placeholder='Email Address*' name='')
          div
            .form__container-field
              label
                select
                  option(value='0' disabled selected hidden) Procedure of Interest
                  option(value='1') Value 1
                  option(value='1') Value 2
                  option(value='1') Value 3

        .form__container-group
          div
            .form__container-field
              label
                select
                  option(value='0' disabled selected hidden) How did you hear about us?
                  option(value='1') Value 1
                  option(value='1') Value 2
                  option(value='1') Value 3
          div
            .form__container-field
              label
                select
                  option(value='0' disabled selected hidden) Best time to reach you
                  option(value='1') Value 1
                  option(value='1') Value 2
                  option(value='1') Value 3

        .form__container-row.form__container-row-1
          .form__container-field
            label
              textarea(placeholder='How can we help you?')

        .form__container-row.form__container-row-2
          .form__container-field
            .c-btn__wrapper.c-btn__wrapper--center
              button.c-btn.c-btn--textDark(type='submit')
                span SUBMIT FORM

// SECTION :: END
